@{
    ViewBag.Title = "About Centric Consulting";
}
<h2>@ViewBag.Title</h2>

<img src="https://centricconsulting.com/wp-content/uploads/2020/08/centric_logo_color-scaled.jpg" class="img-responsive" alt="Responsive image">


<h1>Centric Core Value Nominations</h1>
<div class="well">
    <h2> Nominations</h2>
    <p>Core value nominations are intended to motivate employees through nominations for those who display our Core Values</p>
    <p>An employees receives 1 point for making a nomination </p>
    <p>An employees receives 2 points for getting nominated</p>
    <p>This system enables friendly competition between Centric's business units by displaying a Value Dashboard by location </p>
    <p>Employees with the 10 highest scores will be able to turn in their points for company apparel at the end of each quarter </p>
    <p>Employees with the top 3 scores can turn in their points for a gift card at the end of each quarter </p>
    <p>* Employees have a limit of making 5 nominations per quarter </p>
</div>
