@{
    ViewBag.Title = "About Our Core Value Nominations";
}
<div class="well">
    <h2>Centric Core Value Nominations</h2>
    <p>This platform is used to motivate employees by using a nomitaion system for displaying one or more of our seven core values. </p>
    <p>When an employee makes a nomitation, they will be granted 1 point. </p>
    <p>When an employee receives a nomination, they will be granted 2 points.  </p>
    <p>At the end of each quarter, employees can turn in their points for compensation. </p>
    <p>This platform will enable a friendly competition between Centric's business units by displaying a Value Dashboard by location.  </p>
    <p>* An employee can only make 2 nominations per week. </p>
</div>