
@{
    ViewBag.Title = "CoreValues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Centric Core Values</h1>

<h2> Commit to Delivery Excellence</h2>
<p></p>

<h2> Embrace Integrity and Openness</h2>

<h2> Practice Responsible Stewardship</h2>

<h2> Invest in an Exceptional Culture</h2>

<h2> Ignite Passion for the Greater Good</h2>

<h2> Strive to Innovate</h2>

<h2> Live a Balanced Life</h2>