
@{
    ViewBag.Title = "CoreValues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a class="btn btn-default" style="        float: right;
        background-color: #4e3c69;
        font-size: larger;
        color: white;
" @Html.ActionLink("Take the Survey", "Create", "Recognitions")</a>
<h2>Centric Core Values </h2>  

<div class="well" style="background-image : linear-gradient(#ffbd28, white)">
    <h2> Committed to the Delivery of Excellence</h2>
    <p> The employee has a great passion for consulting excellence. In all of their projects, they have strived to first understand the clients needs and then delivered on their commitments 100 percent of the time.</p>
</div>


<div class="well" style="background-image: linear-gradient(#4e3c69, white)">
    <h2> Embrace Integrity and Openness</h2>
    <p> The employee highly values strong, positive relationships that are open and honest. This differentiates them and allows them to accomplish much more than they would be able to otherwise.</p>
</div>

<div class="well" style="background-image : linear-gradient(#ffbd28, white)">
    <h2> Practice Responsible Stewardship</h2>
    <p> The employee highly values stewardship and fiscal accountability and always strives to do more with less. They guard and conserve company resources as if they were their own because it makes good business sense at all times, not just during lean times.</p>
</div>

<div class="well" style=" background-image: linear-gradient(#4e3c69, white)">
    <h2> Invest in an Exceptional Culture</h2>
    <p> The employee shows great pride in the company culture and participates to the fullest extent. The employee may also aim to hire and retain talented people from diverse backgrounds who can create a high impact for our clients and internally within our company.</p>
</div>

<div class="well" style="background-image : linear-gradient(#ffbd28, white)">
    <h2> Ignite Passion for the Greater Good</h2>
    <p> The employee takes great pride in the companies commitment to improving the world in which we live and actively preserving our environment for future generations. They are steadfast in their devotion to the communities we serve and actively promotes employee involvement in community improvement projects.</p>
</div>

<div class="well" style="background-image : linear-gradient(#4e3c69, white)">
    <h2> Strive to Innovate</h2>
    <p> The employee values passion, determination, perseverance, and innovation. They are steadily inspired by the belief in what we are doing and where we are going. They believe in using innovation to remove obstacles and help the client succeed.</p>
</div>

<div class="well" style="background-image : linear-gradient(#ffbd28, white)">
    <h2> Live a Balanced Life</h2>
    <p> The employee encourages both themselves and other people to strive for balance in their life, showing care for their family, the community and their own personal interests.</p>
</div>