@{
    ViewBag.Title = "Centric Home Page";
}

<div class="jumbotron">
    <h1>Centric Business Consulting</h1>
    <p class="lead">The core reason we exist is to create unmatched experiences for clients and employees.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>
            Our core values provide a reliable foundation to help us create innovative solutions for our clients – even when faced with a tough problem.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Learn more about our values! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leaderboard</h2>
        <p>See how you rank against your coworkers!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>