@{
    ViewBag.Title = "Centric Home Page";
}

<div class="jumbotron">
    <h1>Centric Business Consulting</h1>
    <p class="lead">The core reason we exist is to create unmatched experiences for clients and employees.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>
            Our core values provide a reliable foundation to help us create innovative solutions for our clients – even when faced with a tough problem.
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/Corevalues.cshtml">Learn more about our values! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Take The Survey</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Follow Us On Social Media</h2>
        <p><a href="https://www.facebook.com/CentricConsultingNational">Facebook</a></p>
        <p><a href="https://twitter.com/centric">Twitter</a></p>
        <p><a href="https://www.linkedin.com/company/centric-consulting/">LinkedIn</a></p>
        <p><a href="https://www.instagram.com/centricconsulting/">Instagram</a></p>
        <p><a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">Youtube</a></p>
        
    </div>
</div>