@{
    ViewBag.Title = "Centric Home Page";
}

<div class="jumbotron">
    <div class="view overlay rounded-top">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(134).jpg" class="img-fluid" alt="Sample image">
        <a href="#">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body text-center mb-3">

        <!-- Title -->
        <h3 class="card-title h3 my-4"><strong>Take the Survey</strong></h3>
        <!-- Text -->
        <p class="card-text py-2">Give recognition to your coworkers for displaying excellence in one or more of our Core Values.</p>
        <!-- Button -->
        <a class="btn purple-gradient btn-rounded mb-4">Take the Survey</a>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>
            Our core values provide a reliable foundation to help us create innovative solutions for our clients – even when faced with a tough problem. Click here for a brief overview of our core values and what they mean to us.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("CoreValues","CoreValues") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search for Coworkers</h2>
        <p>"Enjoy the people you work with, have fun, and do great work." - Centric Consulting </p>
        <p><a class="btn btn-default" @Html.ActionLink("Employees", "Index","Employees") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Follow Us On Social Media!</h2>
        <p><a href="https://www.facebook.com/CentricConsultingNational">Facebook</a></p>
        <p><a href="https://twitter.com/centric">Twitter</a></p>
        <p><a href="https://www.linkedin.com/company/centric-consulting/">LinkedIn</a></p>
        <p><a href="https://www.instagram.com/centricconsulting/">Instagram</a></p>
        <p><a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">Youtube</a></p>
        
    </div>
</div>