@{
    ViewBag.Title = "Centric Home Page";
}

<div class="jumbotron">
    <h1>Take The Survey!</h1>

    <p class="lead">Give recognition to your coworkers for displaying excellence in one or more of our Core Values.</p>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("CoreValues","CoreValues") &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>
            Our core values provide a reliable foundation to help us create innovative solutions for our clients – even when faced with a tough problem. Click here for a brief overview of our core values and what they mean to us.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("CoreValues","CoreValues") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search for Coworkers</h2>
        <p>"Enjoy the people you work with, have fun, and do great work." - Centric Consulting </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Follow Us On Social Media!</h2>
        <p><a href="https://www.facebook.com/CentricConsultingNational">Facebook</a></p>
        <p><a href="https://twitter.com/centric">Twitter</a></p>
        <p><a href="https://www.linkedin.com/company/centric-consulting/">LinkedIn</a></p>
        <p><a href="https://www.instagram.com/centricconsulting/">Instagram</a></p>
        <p><a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">Youtube</a></p>
        
    </div>
</div>